:root {
    --accent-color: #ff6c00;
    --white-color: #fff;
    --main-color: #303030;
    --second-main-color: #555555;
    --minor-color: #9da4bd;
    --pre__title-font-size: 11px;
    --section-title-font-size: 42px;
    --after-title-font-size: 18px;
    --text-font-size: 14px;
    --transition: color 300ms linear cubic-bezier(0.4, 0, 0.2, 1)
        background-color 300ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
*,
::after,
::before {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding: 0;
    list-style: none;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--text-font-size);
    color: var(--main-color);
    justify-content: center;
}

.link {
    text-decoration: none;
}
address {
    font-style: normal;
}
.button {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #fff;
    width: 160.16px;
    height: 40px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 45px;
    transition: var(--transition);
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    transform: scale(1.06);
    transition-duration: 700ms;
}

.about__btn:hover,
.about__btn:focus {
}
.section {
    padding: 130px 0px;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0px 15px;
    max-width: 1200px;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
/*------- хедер -------*/

.header {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 32px 0px;
}
.header .container {
    /*  display: flex;
    align-items: center;*/
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}
.header__logo {
    margin-right: 130px;
}
.icon__logo {
    display: block;
    width: 72px;
    height: 59px;
}
.icon__logo:focus,
.icon__logo:hover {
    transform: rotate(720deg);
    transition-duration: 5000ms;
}
.navigation__list {
    display: flex;
    column-gap: 30px;
}
.navigation__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--white-color);
}
.navigation__link:hover,
.hero__link:focus {
    color: var(--accent-color);
}
.header__connect {
    display: flex;
    margin-left: auto;
    gap: 30px;
    align-items: center;
    margin-left: 200px;
}
.navigation__btn {
    margin-top: 0px;
    overflow: hidden;
    transition: var(--transition);
}

.navigation__btn:hover,
.navigation__btn:focus {
    color: var(--white-color);

    /* transform: scale3d(2);*/
}
.ripple {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #e2aa0fd0;
    border-color: var(--accent-color);
    animation: button-circle 2s ease forwards;
}
@keyframes button-circle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(20);
        opacity: 0;
    }
}

.navigation__tell {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--white-color);
    text-transform: uppercase;
}

/*------- головний екран -------*/

.hero {
    padding-top: 0px;
    width: 100%;
}
.hero__soc {
    display: flex;
    width: 100px;
    align-items: flex-end;
    padding-left: 27px;
}
.hero__list {
    display: flex;
    gap: 40px;
    align-items: center;
    letter-spacing: 0.2em;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    justify-content: flex-end;
}
.hero__list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--main-color);
    align-items: center;
}
.hero__link {
    display: flex;
}
.hero .container {
    display: flex;
}

.hero__content {
    background-color: #757575;
    width: 100%;
    margin-left: 50px;
    max-width: 1070px;
    padding: 272px 100px 206px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
        ),
        url(../images/desctop/Slider\ img\ 1.jpg);
    flex-grow: 1;
}

.pre__hero-title {
    color: rgba(157, 164, 189, 0.6);
}
.pre__hero-title::before {
    background-color: rgba(157, 164, 189, 0.6);
}

.pre__title {
    font-weight: 600;
    font-size: var(--pre__title-font-size);
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
}
.pre__title::before {
    content: '';
    width: 60px;
    height: 1px;
}

.hero__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin-bottom: 20px;
}
.hero-title__after {
    width: 360px;
    color: var(--second-main-color);
}

.after__title {
    font-weight: 400;
    font-size: var(--after-title-font-size);
    line-height: 1.66;
    letter-spacing: 0.02em;
}

/*------- про нас -------*/
.about-pre__title {
    color: var(--main-color);
}
.about-pre__title::before {
    background-color: var(--main-color);
}
.after__title-about {
    color: var(--second-main-color);
}
.about-section {
    display: flex;
    column-gap: 40px;
}
.about__content {
    max-width: 470px;
}
.section__title {
    font-weight: 700;
    font-size: var(--section-title-font-size);
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-color);
    margin-bottom: 20px;
}
.about__text {
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 1.85;
    letter-spacing: 0.02em;
    color: var(--second-main-color);
}
.about__btn {
    color: var(--main-color);
}

.about__btn:hover,
.about__btn:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    transform: rotate(180deg);
    transition-delay: 0ms;
    transition-duration: 1500ms;
}

.about__list {
    display: flex;
    column-gap: 30px;
}

/*------- сервіс та ціни -------*/
.prices {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
            rgba(17, 19, 25, 0.7),
            rgba(17, 19, 25, 1)
        ),
        url(../images/desctop/img.jpg);
}
.prices-pre__title {
    color: rgba(157, 164, 189, 0.6);
}
.prices-pre__title::before {
    background-color: rgba(157, 164, 189, 0.6);
}
.prices__title {
    color: var(--white-color);
}
.prices__list {
    padding: 30px 40px;
    width: calc(50% - 15px);
}
.prices__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}
.prices__list:first-child {
    background-image: linear-gradient(
        180deg,
        #171a24 0%,
        rgba(23, 26, 36, 0.2) 100%
    );
}
.prices__list:last-child {
    background-image: linear-gradient(
        180deg,
        #090b13 0%,
        rgba(9, 11, 19, 0.2) 100%
    );
}
.prices__item::after {
    content: '';
    width: 100px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
    margin-left: 12px;
    margin-right: 12px;
}
.services-prices__lists {
    display: flex;
}
.prices-list__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9da4bd;
}
.prices-list__text:last-child {
    order: 1;
}

/*------- наші переваги -------*/
.benefists .container {
    display: flex;
}
.benefist__contant {
    max-width: 500px;
    padding-top: 9px;
}
.benefists__card {
    width: calc(50% - 15px);
    display: flex;
    justify-content: center;
    margin-right: 30px;
}
.benefists-pre__title {
    color: var(--main-color);
}
.benefists-pre__title::before {
    background-color: var(--main-color);
}
.benefists-after__title {
    color: var(--second-main-color);
}
.benefists__list {
    display: flex;
    width: 370px;
    flex-wrap: wrap;
}
.benefists__item span {
    font-weight: 700;
    font-size: var(--section-title-font-size);
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--main-color);
}
.benefists__item {
    display: inline-block;
    width: 170px;
    height: 133px;
    padding: 20px 24px;
    background-color: #f7f7f7;
    margin-bottom: 6px;
}
.benefists__item:nth-child(even) {
    margin-top: 30px;
}
.benefists__item:nth-child(odd) {
    margin-right: 30px;
}
.benefists-item__top {
    display: flex;
    justify-content: center;
}
.benefists__item sup {
    font-weight: 600;
    font-size: 16px;
    line-height: 0.2;
    margin-top: 25px;
    color: var(--accent-color);
    text-align: center;
}
.hero__link,
.benefists__text {
    font-weight: 600;
    font-size: var(--pre__title-font-size);
    line-height: 1.36;
    text-align: center;
    color: var(--main-color);
}

/*------- наші працівники -------*/
.barbers-pre__title {
    color: var(--main-color);
}
.barbers-pre__title::before {
    background-color: #303030;
}
.barbers__title {
    margin-bottom: 44px;
}
.barbers__img {
    display: block;
    max-width: 100%;
    height: auto;
}
.barbers__list {
    display: flex;
    gap: 30px;
}
.barbers__item:hover .barbers-top__text {
    transform: translateY(0%);
}
.barbers__item {
    width: calc((100% - 60px) / 3);
    position: relative;
}
.barbers-top__wrap {
    position: relative;
    overflow: hidden;
}
.barbers-top__text::-webkit-scrollbar {
    width: 10px;
}
.barbers-top__text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.barbers-top__text::-webkit-scrollbar-thumb {
    background-color: #aaaaac;
    border-radius: 20%;
}
.barbers-top__text {
    top: 0;
    left: 0;
    font-size: 16px;
    color: var(--white-color);
    font-weight: 600;
    line-height: 1.8;
    background-color: rgba(255, 106, 0, 0.788);
    position: absolute;
    padding: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 300ms linear;
    overflow: auto;
}
.barbers__wrap {
    padding-top: 30px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 30px;
}
.barbers-item__title {
    font-weight: 400;
    font-size: var(--after-title-font-size);
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 8px;
}

.barbers-item__text {
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
.barbers__social {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.barbers-social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.barbers-social__link:focus,
.barbers-social__link:hover {
    background-color: turquoise;
}
.barbers-social__icon {
    fill: var(--main-color);
    transition: fill 300ms linear;
}
.barbers-social__icon:focus,
.barbers-social__icon:hover {
    fill: var(--white-color);
}

/*------- модал -------*/
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(48, 48, 48, 0.467);
    transition: opacity 500ms linear, visibility 500ms;
}
.backdrop.is-hidden.modal {
    transform: translate(-50%, -50%) scale(0) rotate(-180deg);
    min-height: 0;
}
.modal {
    position: absolute;
    display: inline-block;
    width: 500px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 300ms linear min-height linear 300ms;
    padding: 40px;
    margin: 0 auto;
    transition: var(--transition);
}
.modal-close {
    position: absolute;
    right: 10px;
    border-radius: 50%;
    background-color: transparent;
    top: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #909090;
    cursor: pointer;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
}
.modal__title-form {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}
.form-list {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.form__item {
    display: flex;
    position: relative;
    flex-direction: column;
}
.form__item:not(:last-child) {
    margin-bottom: 12px;
}
.form__label {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    text-align: left;
}

.input:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
}
.input:not(:focus):not(:placeholder-shown):invalid + .error {
    display: block;
}
.input:not(:focus):not(:placeholder-shown):invalid {
    border-color: red;
}

.error {
    display: none;
    border-color: red;
}
.input {
    width: 100%;
    height: 100%;
    padding: 14px 14px;
    padding-left: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon-input {
    position: absolute;
    top: 50%;
    left: 14px;
    display: inline-block;
    transform: translateY(-50%);
    transition: fill 250ms linear,
        transform 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.checkbox__label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #757575;
}
.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox__icon {
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 16px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #212121;
    margin-right: 10px;
    border-radius: 2px;
    transition: background-color 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__link {
    color: var(--accent-color);
    text-decoration: underline;
    margin-left: 4px;
}
.form__button {
    color: var(--main-color);
    overflow: hidden;
    transition: background-color 250ms linear cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms linear cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}

/*------- галарея -------*/
.gallery-pre__title {
    color: var(--accent-color);
}
.gallery-pre__title::before {
    background-color: var(--main-color);
}
.gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.gallery__item {
    width: calc((100% - 90px) / 4);
}
/*------- онлайн-форм -------*/
.contacts__form {
    width: calc(50% - 15px);
    margin-right: 30px;
}

/*------- контакти -------*/
.contacts {
    width: calc(50% - 15px);
    padding-left: 100px;
}
.form__title {
    margin-bottom: 44px;
}
.online__input {
    width: 270px;
    height: 24px;
    border: none;
    border-bottom: 1px solid #000;
}

.contact-wrap {
    background-color: #191c26;
    border-image: url(../images/desctop/Bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: calc(50% - 15px) 100%;
    max-width: 1600px;
    margin: 0 auto;
    z-index: 1;
    padding: 130px 0px;
}
.contact-wrap .container {
    display: flex;
}
.contacts__title,
.form__title {
    color: var(--white-color);
}
.contacts__address {
    margin-bottom: 70px;
}
.contacts__title {
    margin-bottom: 40px;
}
.contacts-time__title {
    color: var(--white-color);
}
.contacts-time__title::before {
    background-color: #9da4bd;
}
.contakts__item:not(:last-child) {
    margin-bottom: 20px;
}
.contacts__address-link {
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
}
.contacts__address-link,
.contacts__tell,
.contacts__mail,
.contacts-time__text {
    font-size: var(--after-title-font-size);
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9da4bd;
}
.contacts__mail {
    text-decoration-line: underline;
}
.contacts__tell,
.contacts__mail,
.contacts-time__text {
    font-weight: 400;
}
