:root {
    --accent-color: #2196f3;
    --primary-white-color: #fff;
    --title-font-size: 16px;
    --text-font-size: 14px;
    --priamary-color: #212121;
    --text-color: #757575;
    --transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
*,
::after,
::before {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding: 0;
    list-style: none;
}
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--text-font-size);
    color: var(--accent-color);
    justify-content: center;
}
.section {
    padding: 94px 0px;
}
.link {
    text-decoration: none;
}
address {
    font-style: normal;
}
.button {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #fff;
    width: 160.16px;
    height: 40px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 45px;
}
.button:hover,
.button:focus {
    background-color: #ff6c00;
}
.section {
    padding: 130px 0px;
}

.container {
    margin: 0 auto;
    padding: 0px 15px;
}
/*------- хедер -------*/

.header {
    padding: 32px 0px;
    display: flex;
}
.header .container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header__logo {
    width: 200px;
    height: 100px;
    margin-right: 130px;
}
.navigation__list {
    display: flex;
    column-gap: 30px;
}
.navigation__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
}
.header__connect {
    margin-left: auto;
    column-gap: 45px;
}
.navigation__btn {
    margin-top: 0px;
    margin-left: 30px;
}

.navigation__tell {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: #ffffff;
    text-transform: uppercase;
}
.navigation__link:hover,
.hero__link:focus {
    color: #ff6c00;
}

/*------- головний екран -------*/
.hero .container {
    display: flex;
    align-items: center;
}

.hero__content {
    background-color: #757575;
    width: 1200px;
    padding: 272px 100px 206px 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
        ),
        url(../images/desctop/Slider\ img\ 1.jpg);
    flex-grow: 1;
}
.hero__link {
    letter-spacing: 0.2em;
    transform: rotate(-90deg);
}

.pre__title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px;
}

.hero__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 20px;
}
.hero-title__after {
    width: 360px;
}
.after__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

/*------- про нас -------*/
.about {
}
.about-section {
    display: flex;
    column-gap: 40px;
}
.about__content {
    max-width: 470px;
}
.section__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #303030;
    margin-bottom: 20px;
}
.about__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.85;
    letter-spacing: 0.02em;
    color: #555555;
}
.about__btn {
    color: #303030;
}
.about__btn:hover,
.about__btn:focus {
    color: #fff;
}

.about__list {
    display: flex;
    column-gap: 30px;
}

/*------- сервіс та ціни -------*/
.prices {
    background-repeat: no-repeat;
    background-image: linear-gradient(
            rgba(17, 19, 25, 0.7),
            rgba(17, 19, 25, 1)
        ),
        url(../images/desctop/img.jpg);
}
.prices__title {
    color: #fff;
}
.prices__list {
    padding: 30px 40px;
    width: calc(50% -15px);
}
.prices__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.services-prices__lists {
    display: flex;
    justify-content: space-between;
}
.prices-list__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9da4bd;
}

/*------- наші переваги -------*/
.benefists__item {
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    color: #303030;
}
.hero__link,
.benefists__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
    color: #303030;
}

/*------- наші працівники -------*/
.barbers__title {
    margin-bottom: 44px;
}
.barbers__list {
    display: flex;
    gap: 30px;
}
.barbers-item__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: #303030;
}
.barbers-item__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ff6c00;
}

/*------- галарея -------*/
.gallery__list {
    display: flex;
    gap: 30px;
}
/*------- контакти -------*/

.contacts__address {
    font-weight: 700;
}
.contacts__address,
.contacts__tell,
.contacts__mail,
.contacts__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #9da4bd;
}
