.button {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    width: 160.16px;
    height: 40px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    /* margin-top: 45px;*/
    transition: transform var(--transition), box-shadow var(--transition);
}
.button:hover,
.button:focus {
    background-color: var(--accent-color);
    transform: scale(1.06);
    box-shadow: 0px 0px 10px 1px rgba(255, 108, 0, 0.55);
}
