:root {
    --accent-color: #2196f3;
    --primary-white-color: #fff;
    --title-font-size: 16px;
    --text-font-size: 14px;
    --priamary-color: #212121;
    --text-color: #757575;
    --transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
*,
::after,
::before {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    padding: 0;
    list-style: none;
}
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--text-font-size);
    color: var(--accent-color);
    justify-content: center;
}
.section {
    padding: 94px 0px;
}
.link {
    text-decoration: none;
}
address {
    font-style: normal;
}
button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0px 15px;
    /* outline: 2px solid rgb(228, 208, 208);*/
}
/*------- хедер -------*/

.header {
    background-color: gray;
}
.navigation__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33%;
    letter-spacing: 0.1em;
    color: #ffffff;
}
.header__connect {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}
