$accent-color: #ff6c00;
$white-color: #fff;
$text-font-size: 14px;
$pre__title-font-size: 11px;
$section-title-font-size: 42px;
$after-title-font-size: 18px;
$main-color: #303030;
$second-main-color: #555555;
$minor-color: #9da4bd;
$transion: color 300ms linear cubic-bezier(0.4, 0, 0.2, 1);
