:root {
    --accent-color: #ff6c00;
    --white-color: #fff;
    --main-color: #303030;
    --second-main-color: #555555;
    --minor-color: #9da4bd;
    --pre__title-font-size: 11px;
    --section-title-font-size: 42px;
    --after-title-font-size: 18px;
    --text-font-size: 14px;
    --transition: 300ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
