$accent-color: #FF6C00;
$white-color: #fff;
$pre-title-font-size: 11px;
$title-font-size: 42px;
$title-item-font-size: 18px;
$titlecolor: #303030;
$text-color: #555555;
$secondary-color: #9DA4BD;
$transion: 250ms linear cubic-bezier(0.4, 0, 0.2, 1);