/*------- про нас -------*/
.about-pre__title {
    color: $main-color;

    &::before {
        background-color: $main-color;
    }
}
.after__title-about {
    color: $second-main-color;
}
.about-section {
    display: flex;
    column-gap: 40px;
}
.about__content {
    max-width: 470px;
}
.section__title {
    font-weight: 700;
    font-size: $section-title-font-size;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: $main-color;
    margin-bottom: 20px;
}
.about__text {
    font-weight: 400;
    font-size: $text-font-size;
    line-height: 1.85;
    letter-spacing: 0.02em;
    color: $second-main-color;
}
.about__btn {
    color: $main-color;

    &:hover,
    &:focus {
        color: $white-color;
        background-color: $accent-color;
        transform: rotate(180deg);
        transition-delay: 0ms;
        transition-duration: 1500ms;
    }
}

.about__list {
    display: flex;
    column-gap: 30px;
}
