/*------- про нас -------*/
.about-pre__title {
    color: var(--main-color);

    &::before {
        background-color: var(--main-color);
    }
}
.after__title-about {
    color: var(--second-main-color);
    margin-bottom: 20px;
}
.about-section {
    display: flex;
    gap: 40px;
}
.about__content {
    max-width: 470px;
}
.section__title {
    font-weight: 700;
    font-size: var(--section-title-font-size);
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-color);
    margin-bottom: 20px;
}

.about__text {
    font-weight: 400;
    font-size: var(--text-font-size);
    line-height: 1.85;
    letter-spacing: 0.02em;
    color: var(--second-main-color);
    margin-bottom: 40px;
}
.about__btn {
    color: var(--main-color);

    &:hover,
    &:focus {
        color: var(--white-color);
        background-color: var(--accent-color);
        transform: rotate(180deg);
        transition-delay: 0ms;
        transition-duration: 1500ms;
    }
}

.about__list {
    display: flex;
    gap: 30px;
}
@media screen and (min-width: 480px) {
    .about__list {
        display: none;
    }
}
