/*------- контакти -------*/
.section-contact {
    background-color: #191c26;
    background-position: right;
    background-image: url(../images/desctop/Bg.png);
    background-size: calc((100% - 30px) / 2) 100%;
    max-width: 1600px;
    background-repeat: no-repeat;
    padding: 130px 0px;
    z-index: 1;
}
.barbers__address {
    padding-left: 100px;
}
.contact-wrap {
    display: flex;
    padding: 15px;
}
.contacts__title,
.form__title {
    color: var(--white-color);
}
.contacts__address {
    margin-bottom: 70px;
}
.contacts__title {
    margin-bottom: 40px;
}
.contacts-time__title {
    color: var(--white-color);

    &::before {
        background-color: var(--minor-color);
    }
}
.contakts__item:not(:last-child) {
    margin-bottom: 20px;
}
.contacts__address-link {
    font-weight: 700;
    display: block;
    margin-bottom: 20px;
}
.contacts__address-link,
.contacts__tell,
.contacts__mail,
.contacts-time__text {
    font-size: var(--after-title-font-size);
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: var(--minor-color);
}
.contacts__mail {
    text-decoration-line: underline;
}
.contacts__tell,
.contacts__mail,
.contacts-time__text {
    font-weight: 400;
}
.online__button {
    color: var(--white-color);
}
