/*------- футер -------*/
.footer__item {
    display: flex;
    justify-content: space-between;
    padding: 56px 0px;
}
.footer__list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.footer__list::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--main-color);
    align-items: center;
}
