/*------- галарея -------*/
.gallery-pre__title {
    color: var(--accent-color);
}
.gallery-pre__title::before {
    background-color: var(--main-color);
}
.gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.gallery__item {
    width: calc((100% - 90px) / 4);
}
.gallery__img {
    display: block;
    max-width: 100%;
    height: auto;
}
