/*------- хедер -------*/

.header {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 32px 0px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}
.header__logo {
    margin-right: 130px;
}
.icon__logo {
    display: block;
    width: 72px;
    height: 59px;
}
.icon__logo:focus,
.icon__logo:hover {
    transform: rotate(720deg);
    transition-duration: 5000ms;
}
.navigation__list {
    display: flex;
    column-gap: 30px;
}
.navigation__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--white-color);
}
.navigation__link:hover,
.hero__link:focus {
    color: var(--accent-color);
}
.header__connect {
    display: flex;
    margin-left: auto;
    gap: 30px;
    align-items: center;
    margin-left: 200px;
}
.navigation__btn {
    margin-bottom: 0px;
    overflow: hidden;
    transition: var(--transition);
}

.navigation__btn:hover,
.navigation__btn:focus {
    color: var(--white-color);

    /* transform: scale3d(2);*/
}
.ripple {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #e2aa0fd0;
    border-color: var(--accent-color);
    animation: button-circle 2s ease forwards;
}
@keyframes button-circle {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(20);
        opacity: 0;
    }
}

.navigation__tell {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--white-color);
    text-transform: uppercase;
}
