/*------- головний екран -------*/

.hero__soc {
    display: flex;
    width: 100px;
    align-items: flex-end;
    padding-left: 27px;
}
.hero__list {
    display: flex;
    gap: 40px;
    align-items: center;
    letter-spacing: 0.2em;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    justify-content: flex-end;

    &::before {
        content: '';
        width: 60px;
        height: 1px;
        background-color: var(--main-color);
        align-items: center;
    }
}
.hero__link {
    display: flex;
}

.hero .container {
    display: flex;
}
.hero {
    padding-top: 0px;
    width: 100%;
    background-color: #757575;
    width: 100%;
    max-width: 1070px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
            rgba(25, 28, 38, 0.2),
            rgba(25, 28, 38, 0.2)
        ),
        url(../images/desctop/Slider\ img\ 1.jpg);
}

.hero__content {
    width: 100%;
    margin-left: 50px;
    max-width: 1070px;
    flex-grow: 1;
}

.pre__hero-title {
    color: rgba(157, 164, 189, 0.6);

    &::before {
        background-color: rgba(157, 164, 189, 0.6);
    }
}

.hero__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin-bottom: 20px;
}
.hero-title__after {
    width: 360px;
    color: var(--minor-color);
}
@media screen and (min-width: 1200px) {
    .hero__content {
        padding: 272px 100px 206px 100px;
    }
    .hero__title {
        font-size: 72px;
        line-height: 1.18;
    }
}

@media screen and (min-width: 768px) {
    .hero__content {
        padding: 272px 100px 235px 100px;
        max-width: 574px;
    }
}

@media screen and (min-width: 480px) {
    .hero__content {
        padding: 208px 30px;
        margin-left: 0px;
        max-width: 480px;
    }
    .hero__title {
        font-size: 48px;
        line-height: 1.16;
    }
    .hero__soc {
        display: none;
    }
}
