/*------- сервіс та ціни -------*/
.prices {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
            rgba(17, 19, 25, 0.7),
            rgba(17, 19, 25, 1)
        ),
        url(../images/desctop/img.jpg);
}
.prices-pre__title {
    color: rgba(157, 164, 189, 0.6);

    &::before {
        background-color: rgba(157, 164, 189, 0.6);
    }
}
.prices__title {
    color: $white-color;
}

.prices__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}
.prices__list {
    padding: 30px 40px;
    width: calc(50% - 15px);

    &:first-child {
        background-image: linear-gradient(
            180deg,
            #171a24 0%,
            rgba(23, 26, 36, 0.2) 100%
        );
    }
    &:last-child {
        background-image: linear-gradient(
            180deg,
            #090b13 0%,
            rgba(9, 11, 19, 0.2) 100%
        );
    }
}
.prices__item::after {
    content: '';
    width: 100px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.12);
    flex-grow: 1;
    margin-left: 12px;
    margin-right: 12px;
}
.services-prices__lists {
    display: flex;
}
.prices-list__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.02em;
    color: #9da4bd;

    &:last-child {
        order: 1;
    }
}
